<!DOCTYPE html>
<html>
<head>
  <title>CeritanyaBelajar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div><%= notice %></div>
<div><%= alert %></div>
  <section class="container">
<!-- menu kiri -->
<section class="col-lg-3">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Menu</h3>
</div>
<div class="panel-body">
<ul class="nav nav-pills nav-stacked">
<li role="presentation" id="pill_histories">
<a href="/elearning/histories">Histories</a>
</li>
<li role="presentation" id="pill_users">
<a href="/elearning/users/">Users</a>
</li>
<li role="presentation">
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
</li>
</ul>


</div>
</div>
</section>
<!-- main -->
<section class="col-lg-9">
<%= yield %>
</section>
</section>
</body>
</html>
